name: Pull Request
on:
  pull_request:

jobs:
  build_test:
    name: Build & Test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Enable Corepack
        run: corepack enable
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          cache: 'yarn'
      - uses: pass-culture/common-workflows/actions/setup-safe-chain@main
      - name: Install dependencies
        run: yarn install
      - name: Build project
        run: yarn run build
      - name: Run unit tests
        run: yarn run test-ci
