name: Publish package
on:
  release:
    types: [published]

jobs:
  publish:
    name: Publish
    permissions:
      contents: write
      id-token: write
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Enable Corepack
        run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'
      - uses: pass-culture/common-workflows/actions/setup-safe-chain@main
      - name: Install dependencies
        run: yarn install
      - name: Build project
        run: yarn run build
      - name: Publish library
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm publish
